@using Pvp.Web.AppLogic.Models.DTO
@model Location

@Html.AntiForgeryToken()

@Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.DisplayName)
        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @aria_describedby = "nameHelp", placeholder = "Enter location name" })
        <small id="nameHelp" class="form-text text-muted">What will we call this location?</small>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @aria_describedby = "addressHelp", placeholder = "Enter location street address" })
        <small id="addressHelp" class="form-text text-muted">What is the street address of this location?</small>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @aria_describedby = "cityHelp", placeholder = "Enter the location's city" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StateAbbreviation)
        @Html.TextBoxFor(m => m.StateAbbreviation, new { @class = "form-control", @aria_describedby = "stateHelp", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode)
        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", @aria_describedby = "zipHelp", placeholder = "Zip Code" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @aria_describedby = "phoneHelp", placeholder = "___-___-____" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HoursOfOperation)
        @Html.TextBoxFor(m => m.HoursOfOperation, new { @class = "form-control", @aria_describedby = "hoursHelp", placeholder = "__:__ to __:__" })
        <small id="nameHelp" class="form-text text-muted">What time does this location open and close?</small>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Comments)
        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @aria_describedby = "commentsHelp" })
        <small id="commentsHelp" class="form-text text-muted">What else would you like to say about this location?</small>
    </div>
